@import "variables.less";
@import "mixins.less";


// Final design styles

.feature-sound {
	float: right;
	max-width: 390px;
	background-color: #f6f6f6;
	border-color: #c64308;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-style: solid;
		ul {
			margin: 0px;
			padding: 0px;
		}
			li {
				list-style: none;
					a {
						text-decoration: none;
					}
			}
}

.feature-sound-button-image {
	-webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}

.feature-sound-img-transition {
	-webkit-transform: scale(2); 
    -moz-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
}





// Initial vertical and horizontal prototypes

@media only screen and (min-width: 768px) {
.border-display {
	border: solid 1px blue;
	max-width: 730px;
	padding: 100px 0px;
	display: flex;
	justify-content: auto;
	}
	
.border-display-vertical {
	float: left;
	max-width: 250px;
	min-height: 500px;
	border: blue solid 1px;
}


.border-display-slider {
	border: solid 1px blue;
	max-width: 730px;
	padding: 100px 0px;
	}

}


.sound-button-list {
	padding: 0;
				li {
					a {
						text-decoration: none;
						font-size: 16px;
						&:hover,
						&:focus
						&:active {
						background-color: @white-faded;
							}
						}
				}
	
}

.sound-feature {
  background: #f0f0f0;
  border: 1px solid #ccc;
  border-right: none;
  max-width: 730px;
  width: 100%;
  margin: auto;
}

.sound-feature #horizontal-s,
#vertical-s {
  margin: 0;
  padding: 0;
}

.sound-feature #horizontal-s li,
#vertical-s li {
  list-style: none;
  text-align: center;
  border-left: 1px solid #fff;
  border-right: 1px solid #ccc;
}

.sound-feature #horizontal-s li:first-child {
  border-left: none;
}

.sound-feature #horizontal-s li a {
  display: block;
  text-decoration: none;
  color: #616161;
  padding: 10px 0;
}

.sound-feature {
  display: table;
  table-layout: fixed;
}

#horizontal-s {
  display: flex;
  flex-direction: row;
}

#horizontal-s li {
	flex-grow: 1;
}


@media only screen and (max-width: 768px) {
  
  #horizontal-s {
    display: block;
  }

  .sound-feature {
    font-size: .8em;
  }
  
  .sound-feature #horizontal-s li {
    display: block;
    border-bottom: 1px solid #ccc;
  }

}

// Slider Styles
.ui-slider-horizontal {
	height: 2px;
}

.ui-slider .ui-slider-handle {
	width: 1px;
}

.ui-slider-float .ui-slider-tip {
	width: 60px;
}

#audio-labels-slider .ui-slider-label {
	font-size: 16px;
}