@import "variables.less";
@import "mixins.less";

.sound-feature {
	display: block;
	border: solid 1px red;
	margin-bottom: 50px;
	float: left;
	height: 100px;
	width: 730px;
	clear: both;
}

.sound-horizontal {
	
}

.sound-vertical {
	
}